<div class="user-details">
  <h1 class="mdui-typo-display-1">精品栏目</h1>
  <p>在线学习的 10000 种方式</p>
</div>

<div class="container">
    <div class="card mdui-shadow-4">
      <div class="face face1">
        <div class="content">
          <p>《珠峰学报》是面向钱学森学院及全校同学的综合创新学术刊物。</p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="face face2">
        <h2>珠峰学报</h2>
      </div>
    </div>
    <div class="card mdui-shadow-4">
      <div class="face face1">
        <div class="content">
          <p>钱院是我们共同的家，来我们的首页看看吧！</p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="face face2">
        <h2>钱院首页</h2>
      </div>
    </div>
    <div class="card mdui-shadow-4">
      <div class="face face1">
        <div class="content">
          <p>
            学辅书库里典藏了许多不仅由学术界知名人物写的书，还有我们同学们亲自编写的书，欢迎阅读。
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="face face2">
        <h2>学辅书库</h2>
      </div>
    </div>
    <div class="card mdui-shadow-4">
      <div class="face face1">
        <div class="content">
          <p>
            来，作为钱院学子，在 Github 上为钱院学辅的网站贡献自己的一份力量！
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="face face2">
        <h2>开源首页</h2>
      </div>
    </div>
    <div class="card mdui-shadow-4">
      <div class="face face1">
        <div class="content">
          <p>最新的教辅内容以及通知公告就在这里啦。</p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="face face2">
        <h2>推送一览</h2>
      </div>
    </div>
    <div class="card mdui-shadow-4">
      <div class="face face1">
        <div class="content">
          <p>来看看我们富有创造力的团队。</p>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="face face2">
        <h2>关于我们</h2>
      </div>
    </div>
</div>
