<blockquote>
    <ul class="fa-ul">
        {% if page.author %}
        <li><span class="fa-li"><i class="fa fa-pencil-square-o"></i></span>
            {{ page.author | markdownify }}
        </li>
        {% endif %}
        {% if page.editor %}
        <li><span class="fa-li"><i class="fa fa-keyboard-o"></i></span>
            {{ page.editor | markdownify }}
        </li>
        {% endif %}
        {% if page.date %}
        <li><span class="fa-li"><i class="fa fa-clock-o"></i></span>
            本页面最后修改于 {{ page.date | date:'%Y 年 %m 月 %d 日' }}。
        </li>
        {% endif %}
        <li><span class="fa-li" id="busuanzi_container_page_pv"><i class="fa fa-eye"></i></span>
            本页面总阅读量已达 <span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-spin"></i></span> 次。
        </li>
        <li><span class="fa-li"><i class="fa fa-exclamation-triangle"></i></span>
            {{ page.license_info | default: site.license_info }}
        </li>
    </ul>
</blockquote>
