<div class="icon-bar">
  <a href="/zhufeng/"><i class="fa fa-trophy"></i> 珠峰学报</a>
  <a href="/program/"><i class="fa fa-file"></i> 培养方案</a>
  <a href="/course/"><i class="fa fa-th"></i> 课程中心</a>
  <a href="/navigator"><i class="fa fa-map"></i> 交大导航</a>
  <a href="https://github.com/qyxf/" class="not-laptop"><i class="fa fa-github"></i> 开源主页</a>
  <a href="/about"><i class="fa fa-id-card"></i> 关于我们</a>
  <a href="/BookHub/"><i class="fa fa-book"></i> 学辅书库</a>
  <a href="/technique/"><i class="fa fa-rocket"></i> 技术中心</a>
  <a href="http://bjb.xjtu.edu.cn/"><i class="fa fa-university"></i> 钱院首页</a>
  <a href="/feed.xml" class="not-laptop"><i class="fa fa-rss"></i> 订阅本站</a>
</div>
