<div class="mdui-appbar mdui-appbar-fixed mdui-color-white">
  <div class="mdui-toolbar">
    <a id="drawer-toc-btn" ref="#" class="mdui-btn mdui-hidden-md-up" mdui-drawer="{target: '#main-toc'}">
      <i class="fa fa-th-list"></i>
    </a>
    <div class="mdui-toolbar-spacer mdui-hidden-sm-up"></div>
    <span class="mdui-hidden-sm-up mdui-typo-body-2">钱院学辅</span>
    <a class="mdui-btn mdui-ripple mdui-hidden-xs-down mdui-typo-headline" href="/">
      <span class="mdui-typo-headline">
        <i class="fa fa-home"></i>
        钱院学辅信息站
      </span>
    </a>
    <a class="mdui-btn mdui-ripple mdui-hidden-xs-down mdui-typo-title" href="/post/">文章列表</a>
    <a class="mdui-btn mdui-ripple mdui-hidden-xs-down mdui-typo-title" href="/course/">课程中心</a>
    <a class="mdui-btn mdui-ripple mdui-hidden-xs-down mdui-typo-title" href="/program/">培养方案</a>
    <a class="mdui-btn mdui-ripple mdui-hidden-sm-down mdui-typo-title" href="/technique/">技术中心</a>
    <div class="mdui-toolbar-spacer"></div>
    <a href="/" class="mdui-btn mdui-hidden-sm-up">
      <i class="fa fa-home"></i>
    </a>
    <div class="mdui-toolbar-spacer mdui-hidden-xs-down"></div>
    <label class="mdui-switch" style="width: 50px;">
      <input id="theme-btn" type="checkbox"/>
      <i class="mdui-switch-icon"></i>
    </label>
  </div>
</div>
