<div class="post-metadata mdui-text-center mdui-p-a-1">
    {% if page.date %} <span class="mdui-ripple mdui-btn">  <i class="fa fa-calendar"></i> {{ page.date | date:'%Y 年 %m 月 %d 日' }} </span> {% endif %}
    <span class="mdui-ripple mdui-btn"><span id="busuanzi_container_page_pv"> <i class="fa fa-eye"></i> <span id="busuanzi_value_page_pv"> <i class="fa fa-spin fa-spinner"></i> </span> </span> </span>
    {% if page.author %} <span class="mdui-ripple mdui-btn"> <i class="fa fa-user-circle-o"></i> 作者：{{ page.author | markdownify | remove: '<p>' | remove: '</p>' }} </span> {% endif %}
    {% if page.editor %} <span class="mdui-ripple mdui-btn"> <i class="fa fa-edit"></i> 编辑：{{ page.editor | markdownify | remove: '<p>' | remove: '</p>' }} </span> {% endif %}
    <span class="mdui-ripple mdui-btn"> <span class="reading-time"> {% include meta-read-time.html %} </span> </span>
</div>
