// define basic colors
// set by xjtu-blacksmith

$background-color: #333;
$default-color: #555;
$light-color: #999;
$title-color: #111;
$border-color: #111;
$light-border-color: #ccc;
$highlight-color: #fff;

$link-color: #4276b6;
$theme-color: #7cafc2;