/* Leap Month Theme <https://github.com/qyxf/leap-month> */
/* Forked from Leap Day Theme <https://github.com/pages-themes/leap-day> */

@import "normalize";
@import "fonts";
@import "rouge-base16-dark";

$background-color: #333;
$default-color: #555;
$light-color: #999;
$title-color: #111;
$border-color: #111;
$image-border-color: #777;
$light-border-color: #ccc;
$section-color: #fcfcfc;
$highlight-color: #fff;
$link-color: #4276b6;
$theme-color: #7cafc2;

body {
  font: 16px 'Quattrocento Sans', sans-serif;
  line-height: 1.7em;
  color: $default-color;
  font-weight: normal;
  margin: 0px;
  padding: 0px 0 20px 0px;
  background: url(../images/body-background.png) $background-color;
  @media print, screen and (max-width: 720px) {
    word-wrap: break-word; }}

h1, h2, h3, h4, h5, h6 {
  color: $title-color;
  margin: 0 0 1em; }

p, ul, ol, table, pre, dl {
  margin: 0 0 1em; }

small { font-size: 0.9em; }

strong, dt {
  font-weight: bold;
  color: $background-color; }

a {
  color: $link-color;
  font-weight: normal;
  text-decoration: none;
  strong {
      color: inherit;
  } }

ul { list-style-image: url('../images/bullet.png'); }

.wrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  @media print, screen and (max-width: 1060px) {
    width: auto;
    margin: 0; }}

code {
  font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  font-size: 0.9em;
  color: $highlight-color;
  text-shadow: 0px 1px 0px $border-color;
  margin: 0;
  padding: 1px 4px;
  background: $background-color;
  border-radius: 2px; }

kbd {
    border: 1px solid lightgray;
    padding: 0px;
    border-radius: 2px;
    background: #eee; }

pre {
  padding: 8px 15px;
  background: $background-color;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  overflow: auto;
  overflow-y: hidden;
  code {
    margin: 0px;
    padding: 0px;
  } }

table {
  width: 100%;
  border-collapse: collapse; }

td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid $light-border-color;
  border-right: 1px solid $theme-color;
  &:first-child {
    border-left: 1px solid $theme-color;
  } }

th {
  @extend td;
  border-top: 1px solid $light-border-color; }

hr {
  border: 0;
  outline: none;
  height: 11px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
  &.heading {
    height: 2px;
    background-image: linear-gradient(to right, #fbfbfb 15%, #333333 50%, #fbfbfb 85%);
  } }

header {
  padding: 25px 20px 40px 20px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
  box-shadow: 1px 0px 2px rgba(0,0,0,.75);
  z-index: 99;
  -webkit-font-smoothing: antialiased;
  min-height: 76px;
  @media print, screen and (max-width: 1060px) {
    padding-left: 0;
    padding-right: 0;
    float: none; }
  @media print, screen and (max-width: 720px) {
    padding: 20px 0;
    margin: 0; }
  @media print, screen and (max-width: 480px) {
    position: relative;
    padding: 5px 0px;
    min-height: 0px; }
  p {
    font: 18px/30px 'Alegreya', serif;
    font-weight: bold;
    color: $light-border-color;
    text-shadow: 1px 1px 1px darken($theme-color, 40%);
    margin: 0px;
    @media print, screen and (max-width: 720px) {
      display: none; } }
  h1 {
    font: 40px/48px 'Copse', sans-serif;
    text-shadow: 2px 2px 2px darken($theme-color, 40%);
    margin: 0px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    @media print, screen and (max-width: 720px) { font-size: 32px; }
    @media print, screen and (max-width: 480px) { font-size: 24px; }
    a {
      color: $highlight-color;
    } } }

#banner {
  z-index: 100;
  left: 0;
  right: 0;
  height: 50px;
  position: absolute;
  top: 115px;
  background: $background-color;
  border: 1px solid $border-color;
  border-left: 0;
  border-right: 0;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);
  @media print, screen and (max-width: 1060px) { width: 100%; }
  @media print, screen and (max-width: 720px) { top: 80px; }
  @media print, screen and (max-width: 480px) { top: 55px; }
  .menu {
    float: unset;
    display: flex;
    margin: 0; }
  .button {
    border: 1px solid $light-border-color;
    background: none;
    border-radius: 2px;
    margin-left: 5px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 1em;
    color: $light-border-color;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    @media print, screen and (max-width: 480px) { font-size: small; }
    &:hover {
      color: $highlight-color;
    } }
  ul {
    list-style: none;
    height: 40px;
    padding: 0;
    float: left;
    display: block;
    margin: 0 auto;
    li {
      display:inline; } } }

section {
  width: 80%;
  padding: 30px 30px 50px;
  margin: 20px auto;
  margin-top: 190px;
  position: relative;
  background: $section-color;
  border-radius: 3px;
  border: 1px solid $light-border-color;
  box-shadow: 0px 1px 2px rgba(0,0,0,.09),
              inset 0px 0px 2px 2px rgba(255,255,255,.5),
              inset 0 0 5px 5px rgba(255,255,255,.4);
  @media print, screen and (max-width: 1060px) {
    float: none;
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px auto;
    margin: 190px auto 20px;
    max-width: 720px; }
  @media print, screen and (max-width: 720px) {
    margin-top: 130px;
    margin-bottom: 0px;
    width: auto; }
  @media print, screen and (max-width: 480px) {
    margin-top: 40px; }
  h2, h3, h4 {
    padding-top: 1em;
    + h3, + h4 {
      padding-top: 0; }}
  h1 {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      text-align: center;
      white-space: pre-wrap;
      padding-top: 0.8em; }
  h2 {
      border-bottom: 1px solid $light-border-color;
      padding-bottom: 10px; }
  u { text-underline-position: under; }
  li p { margin-bottom: 5px; }
  li + li { margin-top: 5px; }
  &> p > img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px solid $image-border-color;
    box-shadow: 1px 1px 3px $background-color; }
  blockquote {
    border: 1px solid $theme-color;
    border-radius: 5px;
    margin: 10px;
    padding: 12px 10px 7px;
    font-size: 0.9em;
    & > * { margin-bottom: 5px; } } }
  .footnotes {
    background: linear-gradient(to top left, rgba(255, 140, 0, .4), rgba(144, 238, 144, .4));
    border: 1px solid $light-border-color;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    ol {
      padding-left: 20px;
      margin: 5px 5px 0;
      li p {
        margin-bottom: 5px; } }
      h2 {
      text-align: center;
      margin: 10px 20px 10px 0;
      padding: 0;
      border: 0; } }

#nav-wrapper {
  background: $background-color;
  color: $light-border-color;
  border: 1px solid $border-color;
  border-left: 0;
  border-radius: 0 5px 5px 0;
  position: fixed;
  width: 250px;
  height: 280px;
  z-index: 100;
  top: 35%;
  left: 0;
  overflow: hidden;
  transition: width 0.3s, height 0.3s;
  display: none;
  #toc {
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    height: 20px; }
  #nav-bar {
    height: 250px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: height 0.3s, opacity 0.3s 0.3s;
    nav {
      position: relative;
      text-align: left;
      ul {
        list-style: none;
        list-style-image: none;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: unset;
        padding: 0 0 0 10px;
        a {
          color: $light-border-color; }
        li {
          padding: 5px 0px;
          line-height: 16px;
          &.tag-h2 {
            + .tag-h1 {
              margin-top:10px; } }
          &.active {
            a {
              color: $highlight-color;
              text-shadow: 2px 2px $border-color;
              font-weight: bold; } } } } } } }

footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
    color: $light-color;
    @media print, screen and (max-width: 1060px) {
      float: none; } }

h1 {
  @media print, screen and (max-width: 1060px) {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis; } }

@-webkit-keyframes blink {
  0% { color: $background-color; }
  80% { color: $background-color; }
  100% { color: $light-border-color; } }

@keyframes blink {
  0% {color: $background-color; }
  80% {color: $background-color; }
  100% {color: $light-border-color;} }

@-webkit-keyframes blinkback {
  0% {color: $background-color; }
  80% {color: $background-color; }
  100% {color: $light-border-color; } }

@keyframes blinkback {
  0% {color: $background-color; }
  80% {color: $background-color; }
  100% {color: $light-border-color; } }
