/*
Leap Day for GitHub Pages
by Matt Graham

Forked and edited
by xjtu-blacksmith
*/

@import "normalize";
@import "fonts";
@import "rouge-base16-dark";
@import "colors";

body {
  font:14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $default-color;
  font-weight:300;
  margin: 0px;
  padding:0px 0 20px 0px;
  background: url(../images/body-background.png) $background-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $title-color;
  margin:0 0 10px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

a {
  color: $link-color;
  font-weight: 400;
  text-decoration: none;

  strong {
      color: inherit;
  }
}

ul{
  list-style-image:url('../images/bullet.png');
}

strong {
  font-weight: bold;
  color: $background-color;
}

.wrapper {
  width:650px;
  margin:0 auto;
  position:relative;
}

section img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  border: 1px solid $theme-color;
  border-radius: 5px;
  margin: 10px;
  padding: 12px 10px 10px;
  font-size: small;

  * {
    margin-bottom: 0px;
  }
}

code {
  font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size:13px;
  color: $highlight-color;
  text-shadow: 0px 1px 0px $border-color;
  margin: 0 2px;
  padding: 1px 4px;
  background: $background-color;
  border-radius: 2px;
}

kbd {
    border: 1px solid lightgray;
    padding: 0px 3px;
    border-radius: 2px;
    background: #eee;
}

pre {
  padding:8px 15px;
  background: #333333;
  border-radius: 3px;
  border:1px solid #c7c7c7;
  overflow: auto;
  overflow-y: hidden;

  code {
    margin: 0px;
    padding: 0px;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-top: 1px solid $light-border-color;
  border-bottom: 1px solid $light-border-color;
  color: inherit;
  border-right: 1px solid $theme-color;

  &:first-child {
    border-left: 1px solid $theme-color;
  }
}

td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid $light-border-color;
  border-right: 1px solid $theme-color;

  &:first-child {
    border-left: 1px solid $theme-color;
  }
}

hr {
  border: 0;
  outline: none;
  height: 11px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color:#444;
  font-weight:700;
}

header {
  padding: 25px 20px 40px 20px;
  margin: 0;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  text-align: center;
  background: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
  box-shadow: 1px 0px 2px rgba(0,0,0,.75);
  z-index:99;
  -webkit-font-smoothing:antialiased;
  min-height: 76px;

  h1 {
    font: 40px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0px 2px 0px #235796;
    margin: 0px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

    a {
      color: #f3f3f3;
    }
  }

  p {
    font: 18px 'Alegreya', 'Georgia', 'Times New Roman', serif;
    color: #d8d8d8;
    text-shadow:rgba(#000, 0.2) 0 1px 0;
    margin: 0px;
  }
}

#banner {
  z-index: 100;
  left:0;
  right:0;
  height: 50px;
  position: absolute;
  top: 115px;
  background: $background-color;
  border: 1px solid $border-color;
  border-left: 0;
  border-right: 0;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);

  .menu {
    float: unset;
    display: flex;
    margin: 0;
  }

  .button {
    border: 1px solid $light-border-color;
    background: none;
    border-radius: 2px;
    margin-left: 5px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:14px;
    color: $light-border-color;
    font-weight: bold;
    display:inline-block;
    text-align:center;

    &:hover {
      color: $highlight-color;
    }
  }

  ul {
    list-style:none;
    height:40px;
    padding:0;
    float: left;
    display: block;
    margin: 0 auto;

    li {
      display:inline;
    }

      ul, ul ul, ul ul ul {
        margin-bottom: 0px;
    }
  }

}

section {
  width:590px;
  padding: 30px 30px 50px 30px;
  margin: 20px 0;
  margin-top: 190px;
  position:relative;
  background: #fbfbfb;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 1px 2px rgba(0,0,0,.09), inset 0px 0px 2px 2px rgba(255,255,255,.5), inset 0 0 5px 5px rgba(255,255,255,.4);

  h1 {
      text-shadow: 1px 1px 2px #00000040;
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px;
      white-space: pre-wrap;
  }

  h2 {
      border-bottom: 1px solid $light-border-color;
      padding: 10px 0;
      margin-top: 20px;
  }

  h3 {
      padding: 2px 0;
  }

  u {
    text-underline-position: under;
  }
}

small {
  font-size:12px;
}

#nav-wrapper {
  background: $background-color;
  color: $light-border-color;
  border: 1px solid $border-color;
  border-left: 0;
  border-radius: 0 5px 5px 0;
  position: fixed;
  width: 250px;
  height: 280px;
  z-index: 1;
  top: 35%;
  left: 0;
  overflow: hidden;
  transition: width 0.3s, height 0.3s;
  display: none;

  #toc {
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    height: 20px;
  }

  #nav-bar {
    height: 250px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: height 0.3s, opacity 0.3s 0.3s;

    nav {
      position: relative;
      text-align: left;

      ul {
        list-style: none;
        list-style-image: none;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: unset;
        padding: 0 0 0 10px;

        li {
          padding: 5px 0px;
          line-height: 16px;

          &.tag-h2 {
            + .tag-h1 {
              margin-top:10px;
            }
          }

          &.active {
            a {
              color: $highlight-color!important;
              text-shadow: 2px 2px $border-color;
              font-weight: bold;
            }
          }
        }

        a {
          color: $light-border-color;
        }
      }
    }
  }
}


.footnotes {
  background: linear-gradient(to top left, rgba(255, 140, 0, .4), rgba(144, 238, 144, .4));
  border: 1px solid #c7c7c7;
  border-radius: inherit;
  padding: 5pt;
  margin: 10pt;

  ol {
    padding-left: 20px;
  }
}


footer{
    text-align: center;
    margin: 20px auto;
    position: relative;
    left:auto;
    bottom:auto;
    width:auto;
    color: $light-color;
  }

@media print, screen and (max-width: 1060px) {

  #banner {
    width: 100%;
  }

  div.wrapper {
    width:auto;
    margin:0;
  }

  header {
    padding-left: 0;
    padding-right: 0;
  }

  header, section, footer {
    float:none;

    h1 {
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px auto;
    margin: 190px auto 20px;
    max-width: 600px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 20px 0;
    margin: 0;

    h1 {
      font-size: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }

    p { display: none;}
  }

  #banner {
    top: 80px;
  }

  section {
    margin-top: 130px;
    margin-bottom: 0px;
    width: auto;
  }

  header ul, header p.view {
    position:static;
  }
}

@media print, screen and (max-width: 480px) {
  body {
  }

  #banner {
    top: 55px;
  }

  header{
    position: relative;
    padding: 5px 0px;
    min-height: 0px;

    h1 {
      font-size: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }
  }
  section {
    margin-top: 40px;
  }

  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

@media print, screen and (max-height: 680px) {

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left:auto;
    bottom:auto;
    width:auto;
  }
}

@media print, screen and (max-height: 480px) {
  nav {
    display: none;
  }

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left:auto;
    bottom:auto;
    width:auto;
  }
}

@-webkit-keyframes blink {
  0% {color: $background-color}
  80% {color: $background-color}
  100% {color: $light-border-color;}
}

@keyframes blink {
  0% {color: $background-color}
  80% {color: $background-color}
  100% {color: $light-border-color;}
}

@-webkit-keyframes blinkback {
  0% {color: $background-color}
  80% {color: $background-color}
  100% {color: $light-border-color;}
}

@keyframes blinkback {
  0% {color: $background-color}
  80% {color: $background-color}
  100% {color: $light-border-color;}
}
