---
---

@import "leap-month.scss";


/* 脚注块：美化为带内阴影、圆角的发光块 */
.footnotes {
    background: linear-gradient(to top left, rgba(255, 140, 0, .4), rgba(144, 238, 144, .4));
    border: 1px solid #c7c7c7;
    border-radius: inherit;
    padding: 5pt;
    margin: 10pt;

    ol {
        padding-left: 20px;
    }
}

/* 图片：利用block对象自动边距居中 */
section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa-ul {
    list-style: none;
}

@media print, screen and (max-width: 449px)
{
  #banner li#project-page {
      display: none;
  }
}

@media print, screen and (max-width: 359px)
{
  #banner li#log {
      display: none;
  }
}