---
---

@import "shields-menu.scss"; // 名牌样式
@import "rouge-theme.scss"; // rouge 代码高亮

$github-color: #eaecef;
$accent-color: lightcyan;

.font-page-content {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

// 底部导航栏样式修正
.mdui-bottom-nav {
  a {
    flex-direction: row;
    span {
      max-width: 90%;
    }
  }
}

// tocbot 样式修正
.js-toc {
  & > .toc-list {
    position: relative;
    left: 0;
    padding-left: 20px;
  }
  .toc-list {
    list-style: none;
    line-height: 4ex;
    overflow: hidden;
    .is-collapsed .toc-link::before {
      height: 0ex !important;
    }
    .toc-list-item {
      a.toc-link {
        text-decoration: none;
        font-size: 1.2em;
      }
      .toc-link::before {
        width: 5px;
      }
      .is-active-link::before {
        background-color: #536bfd;
      }
    }
  }
}
#main-toc {
  padding: 20px;
  padding-left: 0px;
  .js-toc {
    .toc-list .toc-list-item a.toc-link {
      font-size: 1em;
    }
  }
}

// source: https://github.com/tscanlin/tocbot/issues/53
.js-toc-content {
  h2::before,
  h3::before,
  h4::before,
  h5::before,
  h6::before {
    display: block;
    content: " ";
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
  }
}
// 附加伪元素修正跳转问题
.ref-fix::before {
  display: block;
  content: " ";
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

// 解决开关控件显示不完全问题
.mdui-switch {
  overflow: visible;
}

// 对 .mdui-typo 样式的修正
.mdui-typo {
  blockquote {
    border-left: 4px solid rgba(200, 200, 200, 0.75);
  }
  code,
  kbd,
  pre,
  pre tt,
  samp {
    font-family: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas,
      "Liberation Mono", Monaco, "Lucida Console", monospace;
    font-size: 0.9em;
  }
}

article.mdui-typo {
  p > img {
    max-width: 90%;
  }
  h1 {
    text-align: center;
  }
  h2 {
    border-bottom: 1px solid $github-color;
    padding-bottom: 0.3em;
  }
  blockquote {
    opacity: 70%;
  }
  sup {
    a {
      vertical-align: unset;
      overflow: inherit;
    }
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }
  .footnotes ol li::before,
  sup a::before {
    display: block;
    content: " ";
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
  }
  table {
    max-width: 90%;
    word-break: break-all;
    overflow-x: auto;
    overflow-y: hidden;
    th,
    tr td {
      font-size: 0.9em;
    }
  }
  .MJXc-display {
    max-width: 90%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

// footer 文字样式修正
footer {
  .mdui-typo p {
    font-size: 0.9em;
    margin-bottom: 0;
  }
  .love {
    color: red;
  }
}
