---
---

@import "{{ site.theme }}";

blockquote{
    font-style: normal;
}

section h1 {
    text-shadow: 1px 1px 2px #00000040;
    text-align: center;
    border-bottom-style: ridge;
    padding-bottom: 10px;
}

span#logo{
    background: url(/assets/logo.png)!important;
}

#banner{
    background: #adc3ff!important;
    border: 1px solid #79a9fa!important;
}

a.button {
    background: #f3f3f3;
    border: 1px solid #bbbbbb!important;
}