---
---

@import "shields-menu.scss";
@import "rouge-theme.scss";

$github-color: #eaecef;
$title-color: #fff;
$accent-color: lightcyan;
$shadow-color: #333;

.user-details h1 {
    color: $title-color;
}

.user-details p {
    color: $accent-color;
}

.post-info {
  h1 {
    color: $title-color;
    text-shadow: 2px 2px $shadow-color;
  }
}

.font-page-content {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.mdui-bottom-nav {
  a {
    flex-direction: row;
    span {
      max-width: 90%; }}}

.js-toc {
  &>.toc-list { position: relative; left: 0; padding-left: 20px; }
  .toc-list {
    list-style: none;
    line-height: 4ex;
    overflow: hidden;
    .is-collapsed .toc-link::before {
      height: 0ex !important; }
    .toc-list-item {
      a.toc-link {
        text-decoration: none;
        font-size: 1.2em; }
      .toc-link::before { width: 5px; }
      .is-active-link::before { background-color: #536bfd; }}}}

#main-toc {
  padding: 20px;
  padding-left: 0px;
  .js-toc {
    .toc-list .toc-list-item a.toc-link {
      font-size: 1em; }}}


// source: https://github.com/tscanlin/tocbot/issues/53
.js-toc-content {
    h2::before, h3::before, h4::before, h5::before, h6::before {
      display: block;
      content: " ";
      height: 80px;
      margin-top: -80px;
      visibility: hidden; }
}

.ref-fix::before {
  display: block;
  content: " ";
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

// 解决开关控件显示不完全问题
.mdui-switch {
  overflow: visible; }

.mdui-typo {
  code, kbd, pre, pre tt, samp {
      font-family: "Fira Mono", "DejaVu Sans Mono",
                    Menlo, Consolas, "Liberation Mono", Monaco,
                    "Lucida Console", monospace;
      font-size: 0.9em; }
  pre {
    background-color: lighten($github-color, 5%); }}

article.mdui-typo {
  p > img {
    max-width: 90%;
  }
  h1 { text-align: center; }
  h2 {
    border-bottom: 1px solid $github-color;
    padding-bottom: .3em; }
  blockquote { opacity: 70%; }
  sup  {
    a {
    vertical-align: unset;
    overflow: inherit; }
    &::before {
      content: '['; }
    &::after {
      content: ']'; }}
  .footnotes ol li::before, sup a::before {
    display: block;
    content: " ";
    height: 80px;
    margin-top: -80px;
    visibility: hidden; }
  table {
    max-width: 90%;
    word-break: break-all;
    overflow-x: auto;
    overflow-y: hidden;
    th, tr td { font-size: 0.9em; }
  }
  .MJXc-display {
    max-width: 90%;
    overflow-x: auto;
    overflow-y: hidden; }}


    // 这里想横向全屏，每隔卡片颜色不同（可以差别较小）
    .container{ //容器：卡片组
      width: 100%;
      display: flex;
      grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
      justify-content: center;
      align-items: center;
      margin: 5% 0;
      flex-wrap: wrap;
      align-content: center;
  }
  .container .card{
      position: relative;
      width: 300px;
      height: 300px;
      margin: initial;
      transition: 0.5s;
  }
  .container .card：hover{
      box-shadow:  0 20px 10px rgba(0, 0, 0, .2);
  }
  .container .card .face{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .container .card .face.face1 { //face1 遮盖下面的部分
      box-sizing: border-box;
      padding: 10px;
      text-align: center;
      background: #fff;
      color:#3F51B5;
      .content {
        position: absolute;
        bottom: 2ex;
        margin: 10px auto;
        max-width: 90%;
      }
  }
  
  .container .card .face.face2{
      background: #3F51B5;  // 改变face2的颜色
      transition: 0.5s;
  }
  
  .container .card:hover .face.face2{
      height: 80px;
      width: 80px;
      border-radius: 50%;
      top:20px;
      left:50%;
      transform: translateX(-50%);  //改变动画的方向
      background: transparent;
      border: 2px solid  #3F51B5;
  }
  
  .container .card .face.face2 h2{ //face2 遮盖部分
      margin: 0;
      padding: 0;
      font-size:3em;  
      color:#fff;
      transition: 0.5s;
  }
  .container .card:hover .face.face2 h2{
      color:#3F51B5;
      font-size: 1em;
  }
  .container .card .face.face1 a{ //open link
      display: inline-block;
      padding: 5px 10px;
      margin-bottom: 5px;
      text-decoration: none;
      color: #3F51B5;
      border: 2px solid #3F51B5;
  }
  .container .card .face.face1 a:hover{
      color: #fff;
      background: #3F51B5;
  }

#banner {
  cursor: default;
  height: 100vh;
  width: 100vw;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  text-align: center;
}

// 背景虚化-毛玻璃效果
.cover-background {
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}

.warp {
  z-index: 1;
	text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
  background: inherit;
  overflow: hidden;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.warp .h1 {
  font-size: 40em;
  z-index: 2;
  margin: .67em 0;
	margin-top: 1em;
	padding-top: 1em;
	line-height: 1.25;
  color: #fff;
  font-size: 2.5rem;
}
    
.warp-info {
  z-index: 3;
  padding: 40px;
  color: #fff;
}

.warp-links {
  z-index: 3;
	margin: 10px
}

.warp-links .link {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	margin: 10px
}

@media only screen and (min-width:550px) {
	.warp-links .link {
		font-size: 20px
	}
}

.warp-icons {
  z-index: 3;
	display: flex;
	justify-content: center;
	text-align: center
}

.warp-icons .icon {
	color: #fff;
	text-align: center
}

.warp-icons .icon {
	height: 20px;
	padding: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	transition: all .7s;
	width: 20px;
	font-size: 20px;
	margin: 5px
}

.warp-icons .icon:active,.warp-icons .icon:hover {
	color: #1a222c;
	background: #fff
}

@media only screen and (min-width:550px) {
	.warp-icons .icon {
		width: 35px;
		height: 35px;
		font-size: 35px
	}
}

