<!-- 首页头部  -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  {% seo title=false %}
  <link href="/favicon.ico" rel="icon">
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="{{ site.cdn }}/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link href="{{ site.cdn }}/mdui/0.4.3/css/mdui.css" rel="stylesheet">
  <script async src="{{ site.cdn }}/particles.js/2.0.0/particles.min.js"></script>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
