<h1 class="mdui-typo-display-1 mdui-text-center">栏目导览</h1>
<div class="mdui-card mdui-m-a-3">
    <div class="mdui-card-content">
        <ul class="mdui-list">
            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon fa fa-map"></i>
                <div class="mdui-list-item-content"><a href="/navigator/">交大网站导航</a></div>
              </li>
            <li class="mdui-list-item mdui-ripple">
              <i class="mdui-list-item-icon mdui-icon fa fa-trophy"></i>
              <div class="mdui-list-item-content"><a href="/zhufeng/">珠峰学报</a></div>
            </li>
            <li class="mdui-list-item mdui-ripple">
              <i class="mdui-list-item-icon mdui-icon fa fa-book"></i>
              <div class="mdui-list-item-content"><a href="/BookHub/">学辅书库</a></div>
            </li>
            <li class="mdui-list-item mdui-ripple">
              <i class="mdui-list-item-icon mdui-icon fa fa-paper-plane"></i>
              <div class="mdui-list-item-content"><a href="/program/">培养方案查询</a></div>
            </li>
            <li class="mdui-list-item mdui-ripple">
              <i class="mdui-list-item-icon mdui-icon fa fa-university"></i>
              <div class="mdui-list-item-content"><a href="/course/">课程中心</a></div>
            </li>
          </ul>
    </div>
</div>