<div class="warp">
  <h1>
    <span class="site-title mdui-typo-display-2" style="color: white;">钱院学辅信息站</span> <br> 
    <span class="site-description mdui-typo-display-1" style="color: white;">Info site of Qian Yuan Xue Fu</span>
  </h1>
  <div class="warp-icons">
    <a aria-label="联系我们" href="mailto:qianyuanxuefu@163.com"><i class="icon fa fa-envelope"></i></a>
    <a aria-label="参与贡献" target="_blank" href="https://github.com/qyxf"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
  </div>
  <div class="warp-links">
    <a class="link" href="#nav" data-scroll>栏目一览</a>
    <a class="link" href={{ "/post/" | prepend: site.baseurl }}>最新文章</a>
  </div>
</div>
<a class="down" href="#nav" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true" style="z-index: 2;"></i></a>


